starfish
setuptools>=36.0.0
python-dotenv>=0.8.2
pandas>=0.23.4
sqlalchemy==1.2.7
tifffile>=0.14.0
opencv-python>=3
scikit-image>=0.14.0
scikit-learn>=0.19.0
numpy==1.15.1
matplotlib
networkx
rtree
shapely
seaborn>=0.9.0
pyqt5
Sphinx
sphinx-rtd-theme
pyclustering
