setuptools>=36.0.0
python-dotenv>=0.8.2
pandas>=0.23.4
tifffile>=0.14.0
opencv-python>=3
scikit-image>=0.14.0
scikit-learn>=0.19.0
numpy>1.16.0
scipy>=1.2
matplotlib
networkx
rtree
shapely
seaborn>=0.9.0
pyqt5
Sphinx
sphinx-rtd-theme
pyclustering
pytest
pytest-cov
h5py>=1.8.15
numexpr>=2.6.2
cython>=0.21
snakemake
requests>=2.4.2
tables
boto3
xmltodict
google-cloud-storage
